@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Oswald&display=swap');
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  font-family: 'Assistant', sans-serif;
  background: #63B0CD;
}

#game-header{
  text-align: center;
  margin-top: 10px;
}
.add-user-form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: #63B0CD;
  width: 50vw;
  height: 50vh;
  margin: 15% auto;
}

.show-new-player-div {
  z-index: 1;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%;

  background-color: rgba(0, 0, 0, 0.6);
}
.hide-new-player-div {
  display: none;
}
.add-user-button {
  min-width: 20%;
}
.close {
  align-self: flex-end;
  margin-right: 1em;
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
